.wy-nav-content {
max-width: 100% !important;
}

img.inheritance {
  max-width: none;
}

div.graphviz {
  overflow: auto;
}

body {
  font-size: auto;
}

code {
      background-color: transparent;
}



